@typeparam TEntity where TEntity : BaseEntity
@inject Repository<TEntity> repository

<table>
	<thead>
		<tr>
			@foreach (var column in Columns)
			{
				<th>@column.Value</th>
			}
		</tr>
	</thead>
	<tbody>
		@foreach (var entity in repository.ListAsync().Result)
		{
			<tr>
				@foreach (var column in Columns)
				{
					<td>@column.Key.Invoke(entity)</td>
				}
			</tr>
		}
	</tbody>
</table>

@code {
	[Parameter, EditorRequired]
	public Dictionary<Func<TEntity, string?>, string> Columns { get; set; } = null!;
}