* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.navbar {
    width: 80px;
    background: #333;
    padding: 10px;
}

.nav-item {
    cursor: pointer;
    font-size: 11px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: white;
    padding: 10px;
    border-radius: 10px; 
    margin: 0 0 5px 0; 
    background: #444;
    transition: background 0.1s;
}

.nav-item:hover {
    background: #5a5a5a;
}

.nav-item img {
    width: 32px;
    height: 32px;
}