@page "/warehouse"
@using ApplicationCore.DTO.Equipment
@using ApplicationCore.DTO.Location

@inject EquipmentService equipmentService

<div class="page">
	<div>
		<input type="button" value="Создать" />
		<input placeholder="Поиск" type="search" />
		<input type="button" value="Обновить" />
		<input type="button" value="История изменений" />
		<input type="button" value="Выгрузить в Excel" />
	</div>
	<div>
		<p>Фильтры</p>
		@* Генерация фильтров *@
	</div>
	<div>
		<EntityTable TEntity="EquipmentDto" Entities="Equipment" Columns="@columns" />
	</div>
</div>

@code {
	protected override Task OnInitializedAsync()
	{
		Equipment = equipmentService.GetAll();
		SetColumns();
		return base.OnInitializedAsync();
	}

	private Dictionary<Func<EquipmentDto, string?>, string> columns = new Dictionary<Func<EquipmentDto, string?>, string>();
	private IEnumerable<EquipmentDto> Equipment { get; set; } = null!;

	private void SetColumns()
	{
		columns.Add(e => e.Category.Name, "Тип");
		columns.Add(e => e.Name, "Название");
		columns.Add(e => e.NetworkName, "Сетевое имя");
		columns.Add(e => e.SNL, "SNL");
		columns.Add(e => e.SerialNumber, "Серийный номер");
		columns.Add(e => e.Location?.Name, "Место");
	}
}