@page "/warehouse"
@using Microsoft.EntityFrameworkCore.Metadata

<div class="page">
	<div>
		<input type="button" value="Создать" />
		<input placeholder="Поиск" type="search" />
		<input type="button" value="Обновить" />
		<input type="button" value="История изменений" />
		<input type="button" value="Выгрузить в Excel" />
	</div>
	<div>
		<p>Фильтры</p>
		@* Генерация фильтров *@
	</div>
	<div>
		<EntityTable TEntity="Equipment" Columns="@columns" />
	</div>
</div>

@code {
	private Dictionary<Func<Equipment, string?>, string> columns = new Dictionary<Func<Equipment, string?>, string>();

	protected override Task OnInitializedAsync()
	{
		SetColumns();
		return base.OnInitializedAsync();
	}

	private void SetColumns()
	{
		columns.Add(e => e.Category.Name, "Тип");
		columns.Add(e => e.Name, "Название");
		columns.Add(e => e.NetworkName, "Сетевое имя");
		columns.Add(e => e.SNL, "SNL");
		columns.Add(e => e.SerialNumber, "Серийный номер");
		columns.Add(e => e.Location?.Name, "Место");
	}
}